.register_form{
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,0.5) 6.5%, rgba(27,24,113,0.6) 93.2% ), url(/image/banner.jpg);
    background-size: cover;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
   background-position: center;
}
input{
    margin-bottom: 10px;
}